/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Style the body background and text color */
body {
    background-color:hsl(0, 14%, 83%);
    font-family: Arial, sans-serif;
    color: rgb(103, 89, 89);
    text-align: center;
}
.search{
    width:550px;
    padding:8px;
}
.main-div{
    margin-top: 120px;
}
.button1{
    margin-top:50px;
}
/* Style the header */
header {
    background-color:#ac0707;
    color:hsl(163, 21%, 94%);
    padding: 10px 0;
}

/* Style the h1 in the header */
header h1 {
    font-size: 24px;
}

/* Style the section for user input */


/* Center the recommended movie text */
#recommended-movie {
    text-align: center;    
}